
*.tlog
*.pdb
*.obj
*.log
*.idb
*.ipch
*.lock
*.vsidx
MixerClient/.vs/MixerClient/v17/.suo
MixerClient/.vs/MixerClient/v17/Browse.VC.db
MixerClient/.vs/MixerClient/v17/Browse.VC.db-shm
MixerClient/.vs/MixerClient/v17/Browse.VC.db-wal
MixerClient/.vs/MixerClient/v17/Browse.VC.opendb
MixerClient/MixerClient.vcxproj.user
MixerClient/MixerClient.vcxproj.filters
MixerClient/x64/*
*.exe
*.ilk
*.p7s
MixerClient/packages/nlohmann.json.3.11.2/nlohmann.json.3.11.2.nupkg
/firmware/build
